.form{
    padding: 10px;
  

}
.form__item{
    display: flex;
    align-items: center;
    padding: 5px 0;

}
.form__input{
    padding-left: 10px;

}
.form__contact{
    padding-left: 20px;
    display: flex;

}
.form__button{
    width: 200px;
    margin: 10px;
    height: 30px;
}
.errorsome{
    padding-left: 20px;
    width: 200px;
    border: red solid 2px;
    color: green;
}