.header {
    grid-area: h;
    background-color: lawngreen;
    display: flex;
    align-items: center;

}

.header img {
    width: 200px;
}

.titllelogin {
    margin-left: 50px;
    
}
.titllelogin a{
    color: white;
    font-weight: bold;
}